html, body {margin: 0; height: 100%; overflow: hidden}

mat-drawer {
    width: 250px;
    padding: 12px;
}

mat-drawer-container {
    width: auto;
    height: 100%;
}

mat-drawer-content{
    padding: 12px;
    background: rgb(255, 255, 255);
}

mat-toolbar{
    background: rgb(165, 0, 0);
    color: white;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
