html, body {margin: 0; height: 100%; overflow: hidden}



mat-toolbar{
    background: rgb(165, 0, 0);
    color: white;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
